.sect-7 {
  display: flex;
  justify-content: space-between;
  padding-right: 17px;
  padding-left: 107px;
  padding-top: 109px;
}
.wrapper2 {
  display: flex;
  gap: 190px;
  align-items: center;
}
.right p {
  font-weight: 400;
  font-size: 22px;
  line-height: 180%;
  letter-spacing: 2%;
  width: auto;
  color: #2f327d;
}
.left img {
  width: 755.2413330078125px;
  height: 499px;
  opacity: 1;
}
.right h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 160%;
  color: orange;
}
.right span {
  color: #2f327d;
}
