.container{
    width: 1200px;
    margin:0 auto;
  }
  header{
    background-color: #FFF2E1;
  }
  nav img{
    width: 150px;
    height: 83px;
  }
  nav ul li a{
  color: #252641;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 2%;
  cursor: pointer;
  }
  nav ul li button{
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 2%;
  color: #6C6C6C;
  background-color: #FFFFFF;
  box-shadow: 0px 20px 24px 0px #00000008;
  padding: 10px 30px;
  border-radius: 80px;
  border: none;
  }
  nav ul li a:hover{
    color: #F48C06;
  }
  nav ul li button:hover{
    background-color: #F48C06;
    color: #ffffff;
    cursor: pointer;
  }
  nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0px;
  }